<div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Gender</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>John Doe</td>
              <td>johndoe@gmail.com</td>
              <td>Male</td>
              <td>
                <button type="button" class="btn btn-primary"><i class="far fa-eye"  (click)="UpdateEmployee(1)"></i></button>
                <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
              <button type="button" class="btn btn-danger"><i class="far fa-trash-alt" (click)="DeleteEmployee(1)"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>