<div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered" mat-table>
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Gender</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of Employees">
              <th scope="row">{{employee.id}}</th>
              <td>{{employee.name}}</td>
              <td>{{employee.email}}</td>
              <td>{{employee.gender}}</td>
              <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailsModal" (click)="getOneEmployee(employee.id)"><mat-icon>details</mat-icon></button>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#updateModal" (click)="getOneEmployee(employee.id)"><mat-icon>edit</mat-icon></button>
                <button type="button" class="btn btn-danger" (click)="DeleteEmployee(employee.id)"><mat-icon (click)="DeleteEmployee(employee.id)">delete</mat-icon></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">Add new employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <app-update-modal></app-update-modal>
        </div>   
      </div>
    </div>
  </div>

  <div class="modal" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="detailsModalLabel">Add new employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <app-details-modal></app-details-modal>
        </div>   
      </div>
    </div>
  </div>